
@{
    ViewData["Title"] = "AccessDenied";
}

<style>
body{
    background-image: url('../images/yasak.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

</style>
<head>
    <body>
        @*
        <div class="alert alert-danger">
            <h1>@ViewBag.message</h1>
        </div>*@

    </body>
</head>


