
@{
    ViewData["Title"] = "ViewPicture";
}

@model List<ProjectEightyImagedModel>

<style>
    .foto {
        width: 250px;
        height: 250px;
    }

    .mini {
        width: 100px;
        height: 100px
    }

    .jumbotron {
        text-justify: revert;
        text-align: center;
        padding: 20px;
        margin: 10px 0;
        width: 100%;
    }

    .gallery {
        padding: 40px;
        vertical-align: middle;
    }

        .gallery img {
            width: 100%;
            border-radius: 0;
            position: relative;
            vertical-align: middle;
        }


    #myBtnn {
        /*Yukarı butonu için*/
        display: none;
        position: fixed;
        bottom: 0px;
        right: 0px;
        z-index: 99;
        font-size: 32px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        height: 60px;
        border-radius: 2px;
        width: 150px;
    }

        #myBtnn:hover {
            background-color: brown;
        }

</style>
<div class="container">
    <div class="jumbotron">
        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">@ViewBag.ProjectName "@ViewBag.Name" Noktasına Ait Resimler</h1>
    </div>
    <hr class="mt-2 mb-5">

    <div class="row gallery">

        @foreach (var item in Model)
        {

            @if (item.ProjectId == ViewBag.Id)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mt-2">

                    <a role="button" asp-controller="ProjectEightyImagedModels" asp-action="delete" asp-route-id="@item.Id">Sil</a>
                    <a href="~/uploads/@item.PictureUrl" class="d-block h-100">
                        <img src="~/uploads/@item.PictureUrl" class="foto hover-shadow">
                    </a>

                </div>



            }

        }

    </div>

</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="~/js/baguettebox.min.js"></script>
<script>
    baguetteBox.run(".gallery", {
        animation: "slideIn"
    });

</script>